body{max-width: 1200px;
margin: auto;
background-color: #FEFDF4;}
*{font-family: sans-serif;}
header{display: flex;
align-items: center;
justify-content: space-around;}
header ul{list-style: none;
display: flex;
gap: 20px;
}
header nav{display: flex;
align-items: center;
gap: 20px;}
header button{
    border: 1px solid blueviolet;
    padding: 5px;
    border-radius: 5px;
}
main{max-width: 1200px;
margin: auto;}
.sell{
    text-align: center;
}
.sell span{color: blueviolet;}
.sell h1{font-size: 50px;}
.sell button{
    background-color: blueviolet;
    color: white;
    border: none;
    padding:9px;
}
.sell input{padding:8px;}
.card{display: flex;
justify-content: space-around;}
.right{text-align: center;
}
.right p{width: 420px;}
.card button, .more button, .tab button{border: none;
    background-color: transparent;
color: blueviolet;}
