body{max-width: 1200px;
margin: auto;
background-color: #FEFDF4;}
*{font-family: sans-serif;}
header{display: flex;
align-items: center;
justify-content: space-around;}
header ul{list-style: none;
display: flex;
gap: 20px;
}
header nav{display: flex;
align-items: center;
gap: 20px;}
header button{
    border: 1px solid blueviolet;
    padding: 5px;
    border-radius: 5px;
}
main{max-width: 1200px;
margin: auto;}
.sell{
    text-align: center;
}
.sell span{color: blueviolet;}
.sell h1{font-size: 50px;}
.sell button{
    background-color: blueviolet;
    color: white;
    border: none;
    padding:9px;
}
.sell input{padding:8px;}
.card{display: flex;
justify-content: space-around;}
.right{text-align: center;
}
.right p{width: 420px;}
.card button, .more button, .tab button{border: none;
    background-color: transparent;
color: blueviolet;}
.more{margin-top: 80px;
display: flex;}
.more ul{list-style: none;}
.more img{
width: 1000px;}
.var{position: absolute;
    width: 400px;
    z-index: 2;}
.tab{text-align: center;
    padding: 30px 80px;
  background-image: linear-gradient(to bottom, rgba(128, 0, 128, 0.763), transparent);}
  table td, tr{display: flex;
    width: 1000px;
justify-content: space-around;
}
table td{padding: 20px 0;}
table img{width: 100px;}
